{% extends 'base.html.twig' %}

{% block title %}Sklad index{% endblock %}

{% block body %}
    <h1>Sklad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sklad in sklads %}
            <tr>
                <td>{{ sklad.id }}</td>
                <td>{{ sklad.title }}</td>
                <td>{{ sklad.quantity }}</td>
                <td>{{ sklad.price }}</td>
                <td>{{ sklad.createdAt ? sklad.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sklad.updatedAt ? sklad.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sklad_show', {'id': sklad.id}) }}">show</a>
                    <a href="{{ path('app_sklad_edit', {'id': sklad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sklad_new') }}">Create new</a>
{% endblock %}
